
/*---
Loading
@group			Animation
@desc			...
@tags			animation
@todo			Document
@author			Michael Ord
---
...
*/
@keyframes loading
{
	0% {
		transform			: rotate(0deg);
	}
	100% {
		transform			: rotate(360deg);
	}
}

/*---
Buttons
@group			UIComponents/Buttons
@desc			Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.
@modifier		btn--default				: Default Button
@modifier		btn--wide					: Wide Button
@modifier		btn--primary				: Primary Button
@modifier		btn--success				: Success Button
@modifier		btn--info					: Info Button
@modifier		btn--warning				: Warning Button
@modifier		btn--danger					: Danger Button
@modifier		btn--link					: Link Button
@modifier		btn--positive btn--lg		: Large Button
@modifier		btn--positive btn--sm		: Small Button
@modifier		btn--positive btn--xs		: Extra-Small Button
@modifier		btn--positive btn--rounded	: Rounded Button
@modifier		btn--positive btn--loading	: Loading Button
@todo			Document
@author			Michael Ord
@tags			interactive
---
<a class="btn btn--default {modifier}">Example Button</a>
<button class="btn btn--default {modifier}">Example Button</button>
<input type="submit" class="btn btn--default {modifier}" value="Example Button">
*/

@import "mixins/button-variant";
@import "mixins/button-size";
@import "mixins/button-ghost";

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-default-color				: #ccc !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$btn-font-weight				: 400 !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-default-color				: #333 !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-default-bg					: #fff !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-default-border				: #ccc !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-primary-color				: #fff !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-primary-bg					: $clr-primary !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-primary-border				: darken($btn-primary-bg, 5%) !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-success-color				: #fff !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-success-bg					: $clr-success !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-success-border				: darken($btn-success-bg, 5%) !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-info-color					: #fff !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-info-bg					: $clr-info !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-info-border				: darken($btn-info-bg, 5%) !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-warning-color				: #fff !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-warning-bg					: $clr-warning !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-warning-border				: darken($btn-warning-bg, 5%) !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-danger-color				: #fff !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-danger-bg					: $clr-error !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-danger-border				: darken($btn-danger-bg, 5%) !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$btn-link-disabled-color		: $gray-light !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$btn-border-radius-base			: $border-radius-base !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$btn-border-radius-large		: $border-radius-large !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$btn-border-radius-small		: $border-radius-small !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$padding-base-vertical			: 6px !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$padding-base-horizontal		: 12px !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$padding-large-vertical			: 15px !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$padding-large-horizontal		: 32px !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$padding-small-vertical			: 5px !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$padding-small-horizontal		: 10px !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$padding-xs-vertical			: 1px !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$padding-xs-horizontal			: 5px !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$line-height-large				: 1.3333333 !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$line-height-small				: 1.5 !default;

.btn
{
	$parent						: &;

	display						: inline-block;
	margin-bottom				: 0;
	font-weight					: $btn-font-weight;
	text-decoration				: none;
	text-align					: center;
	vertical-align				: middle;
	touch-action				: manipulation;
	cursor						: pointer;
	background-color			: transparent;
	position					: relative;
	transition					: color .2s, background-color .2s;
	// Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	background-image			: none;
	border						: 2px solid transparent;
	//white-space					: nowrap;
	user-select					: none;

	@include button-size($padding-base-vertical, $padding-base-horizontal, $base-font-size, $base-line-height, $btn-border-radius-base);

	&,
	&:active
	{
		&:focus
		{
			@include tab-focus;
		}
	}

	&:hover,
	&:focus
	{
		color					: $btn-default-color;
		text-decoration			: none;
	}

	&:active
	{
		outline					: 0;
		background-image		: none;
	}

	&:not(#{$parent}--link):active
	{
		box-shadow				: inset 0 3px 5px rgba(0, 0, 0, .125);
	}

	&[disabled],
	fieldset[disabled] &
	{
		cursor					: $cursor-disabled;
		opacity					: .65;
		box-shadow				: none;
	}

	.icon
	{
		margin					: 0 5px;
		width					: 16px;
		height					: 16px;
		display					: inline-block;
		vertical-align			: middle;
	}
}

// Alternate buttons
// --------------------------------------------------

.btn
{
	& + &
	{
		margin-left				: .5rem;

		&--wide
		{
			margin-left			: 0;
		}
	}

	&--wide
	{
		@include bemit()
		{
			display				: block;
			width				: 100%;
			margin-bottom		: .5rem;

			& + &
			{
				margin-left		: 0;
			}
		}
	}

	&--single-line
	{
		overflow				: hidden;
		text-overflow			: ellipsis;
		white-space				: nowrap;
	}

	&--text
	{
		padding-left			: 0;
		padding-right			: 0;
	}

	&--default
	{
		@include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);

		&.btn--outline
		{
			@include button-ghost($btn-default-color, $btn-default-bg, $btn-default-border);
		}
	}

	&--positive
	{
		@include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);

		&.btn--outline
		{
			@include button-ghost($btn-success-color, $btn-success-bg, $btn-success-border);
		}
	}

	&--negative
	{
		@include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);

		&.btn--outline
		{
			@include button-ghost($btn-danger-color, $btn-danger-bg, $btn-danger-border);
		}
	}

	&--primary
	{
		@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);

		&.btn--outline
		{
			@include button-ghost($btn-primary-color, $btn-primary-bg, $btn-primary-border);
		}
	}

	&--secondary
	{
		@include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);

		&.btn--outline
		{
			@include button-ghost($btn-info-color, $btn-info-bg, $btn-info-border);
		}
	}

	// Success appears as green
	&--success
	{
		@include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);

		&.btn--outline
		{
			@include button-ghost($btn-success-color, $btn-success-bg, $btn-success-border);
		}
	}

	// Info appears as blue-green
	&--info
	{
		@include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);

		&.btn--outline
		{
			@include button-ghost($btn-info-color, $btn-info-bg, $btn-info-border);
		}
	}

	// Warning appears as orange
	&--warning
	{
		@include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);

		&.btn--outline
		{
			@include button-ghost($btn-warning-color, $btn-warning-bg, $btn-warning-border);
		}
	}

	// Danger and error appear as red
	&--danger
	{
		@include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);

		&.btn--outline
		{
			@include button-ghost($btn-danger-color, $btn-danger-bg, $btn-danger-border);
		}
	}
}

// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn
{
	&--link
	{
		color					: $link-color;
		font-weight				: 400;
		border-radius			: 0;

		&,
		&:active,
		&[disabled],
		fieldset[disabled] &
		{
			background-color	: transparent;
			box-shadow			: none;
		}

		&,
		&:hover,
		&:focus,
		&:active
		{
			border-color		: transparent;
		}

		&:hover,
		&:focus
		{
			color				: $link-hover-color;
			text-decoration		: $link-hover-decoration;
			background-color	: transparent;
		}

		&[disabled],
		fieldset[disabled] &
		{
			&:hover,
			&:focus
			{
				color			: $btn-link-disabled-color;
				text-decoration	: none;
			}
		}
	}
}

// Button Sizes
// --------------------------------------------------

.btn
{
	&--lg
	{
		// line-height: ensure even-numbered height of button next to large input
		@include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
	}

	&--sm
	{
		// line-height: ensure proper height of button next to small input
		@include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
	}

	&--xs
	{
		@include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
	}
}

// Button Sizes
// --------------------------------------------------

.btn
{
	&--rounded
	{
		border-radius			: 30px;
	}
}

.btn
{
	&--loading
	{
		color					: transparent !important;
		pointer-events			: none;

		&:before
		{
			border				: 0.2rem solid #fff;
			border-right-color	: transparent;
			border-top-color	: transparent;
			border-radius		: .8rem;
			content				: "";
			position			: absolute;
			left				: 50%;
			top					: 50%;
			margin-left			: -0.8rem;
			margin-top			: -0.8rem;
			display				: block;
			width				: 1.6rem;
			height				: 1.6rem;
			animation			: loading 500ms infinite linear;
		}
	}
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"]
{
	&.btn--wide
	{
		width					: 100%;
	}
}

.btn--link
{
	text-transform				: uppercase;
	color						: #000;
	font-weight					: 600;

	&:hover,
	&:focus
	{
		color					: #000;
	}

	&:after
	{
		content					: "";
		display					: inline-block;
		width					: 10px;
		height					: 10px;
		vertical-align			: middle;
		margin-left				: 5px;

		background-image		: url("/src/icons/arrow-right.svg");
		background-size			: 100% 100%;
		background-position		: 50% 50%;
	}
}

