
/// ...
/// @group framework
/// @author Michael Ord
@mixin button-ghost($color, $background, $border)
{
	color						: $border;
	border-color				: $border;
	background-color			: transparent;

	&:focus
	{
		color					: $color;
		background-color		: darken($background, 10%);
		border-color			: darken($border, 25%);
	}

	&:hover
	{
		color					: $color;
		background-color		: darken($background, 10%);
		border-color			: darken($border, 12%);
	}

	&:active
	{
		color					: $color;
		background-color		: darken($background, 10%);
		border-color			: darken($border, 12%);

		&:hover,
		&:focus
		{
			color				: $color;
			background-color	: darken($background, 17%);
			border-color		: darken($border, 25%);
		}
	}

	&:active
	{
		background-image		: none;
	}

	&[disabled],
	fieldset[disabled] &
	{
		&:hover,
		&:focus
		{
			background-color	: $background;
			border-color		: $border;
		}
	}

	.badge
	{
		color					: $background;
		background-color		: $color;
	}
}
