
/// ...
/// @group framework
/// @author Michael Ord
@mixin button-variant($color, $background, $border)
{
	color						: $color;
	background-color			: $background;
	border-color				: $border;

	//fill						: $color;

	&:focus
	{
		color					: $color;

		@if (lightness($color) > 50)
		{
			background-color	: lighten($background, 10%);
			border-color		: lighten($border, 25%);
		}
		@else
		{
			background-color	: darken($background, 10%);
			border-color		: darken($border, 25%);
		}
	}

	&:hover
	{
		color					: $color;

		@if (lightness($color) > 50)
		{
			background-color	: lighten($background, 10%);
			border-color		: lighten($border, 12%);
		}
		@else
		{
			background-color	: darken($background, 10%);
			border-color		: darken($border, 12%)
		}
	}

	&:active
	{
		color					: $color;

		@if (lightness($color) > 50)
		{
			background-color	: lighten($background, 10%);
			border-color		: lighten($border, 12%);
		}
		@else
		{
			background-color	: darken($background, 10%);
			border-color		: darken($border, 12%);
		}

		&:hover,
		&:focus
		{
			color					: $color;

			@if (lightness($color) > 50)
			{
				background-color	: darken($background, 17%);
				border-color		: darken($border, 25%);
			}
			@else
			{

			}
		}
	}

	&:active
	{
		background-image		: none;
	}

	&[disabled],
	fieldset[disabled] &
	{
		&:hover,
		&:focus
		{
			background-color	: $background;
			border-color		: $border;
		}
	}

	.badge
	{
		color					: $background;
		background-color		: $color;
	}
}
